@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.edit-images-list {
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    +e(image) {
        width: 100%;
        height: 100%;
    }

    +e(preview-list) {

    }

    +e(item) {
        position: relative;
        border: 1px solid $gray;
        background-color: $light-gray;
        width: 360px;
        height: 244px;
        margin: 5px;
    }

    +e(delete-image) {
        position: absolute;
        top: 2px;
        right: 2px;
        padding: 5px 9px;
        background-color: $white;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            background-color: $light-gray;
        }
    }
}