@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.toggle {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
    border: solid 1px $gray;

    +m(text) {
        width: 164px;
        height: 46px;
    }

    +e(checkbox) {
        display: none;

        +m(clicked) {

            + .toggle__slider:before {
                transform: translateX(30px);
                -webkit-transform: translateX(30px);
                -ms-transform: translateX(30px);
            }

            + .toggle__slider_text:before {
                transform: translateX(77px);
                -webkit-transform: translateX(77px);
                -ms-transform: translateX(77px);
            }
        }
    }

    +e(slider) {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        transition: .4s;
        -webkit-transition: .4s;

        &:before {
            position: absolute;
            content: "";
            background-color: $gray;
            transition: .4s;
            -webkit-transition: .4s;
            height: 26px;
            width: 26px;
            left: 3px;
            bottom: 3px;
        }

        +m(text) {
            &:before {
                height: 38px;
                width: 79px;
                left: 3px;
                bottom: 3px;
            }
        }
    }

    +e(text-block) {
        position: absolute;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 14px;
    }

    +e(left) {
        cursor: pointer;
        position: absolute;
        left: 7px;
        top: 8px;
        +m(text) {
            position: initial;
            text-align: center;
            display: block;
            width: 82px;
        }
    }

    +e(right) {
        cursor: pointer;
        position: absolute;
        top: 7px;
        left: 38px;
        +m(text) {
            position: initial;
            text-align: center;
            display: block;
            width: 82px;

        }
    }
}


