@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.privacy-policy {
    margin-top: 140px;
    line-height: 24px;

    +m(center) {
        text-align: center;
        margin: 30px 0 30px;
    }
}