<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{email.social.marge.text}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.getProfileEmailIfBlankFullName()})}">
	Dear user
</p>
<p th:text="#{email.social.marge.text}">
</p>
<p th:text="#{email.social.marge.body}"></p>
<p><a th:href="${activateUrl}" th:text="#{email.activation.text.link}">Activation Link</a></p>
<p>
	<span th:text="#{email.activation.text.footer}">With respect, </span>
	<br/>
	<em th:text="#{email.signature}">Our Team</em>
</p>
</body>
</html>