@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.carousel {
    position: relative;
    overflow: hidden;
    background: $light-gray url("no-photo-placeholder.png") no-repeat center center;

    +m(small) {
        width: 360px;
        height: 244px;
    }

    +m(large) {
        width: 1140px;
        height: 600px;
    }

    +e(container) {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform .3s ease;
    }

    +e(control-prev) {
        display: flex;
        position: absolute;
        top: calc(50% - 32px);
        left: 0;
        width: 36px;
        height: 64px;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        user-select: none;
    }

    +e(control-next) {
        display: flex;
        position: absolute;
        top: calc(50% - 32px);
        right: 0;
        width: 36px;
        height: 64px;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        user-select: none;
    }

    .icon {
        color: $white;
        font-size: 50px;
    }
}