@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.btn-nav {
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;

    +m(icon) {
        background-color: $white;
        border-color: $gray;
        width: 40px;
        border-radius: 50%;
        height: 40px;

        &:hover {
            background-color: $gray;
        }
    }

    .icon {
        color: $medium-gray;
    }
}