@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.footer {
    position: relative;
    height: 70px;
    margin: 80px 0 20px;

    &:before {
        content: '';
        position: absolute;
        width: ($site-width - $site-padding * 2)px;
        top: 0;
        left: 50%;
        border-top: 1px solid $gray;
        transform: translate(-50%);
    }

    +e(container) {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    +e(nav) {
        align-items: center;
        float: right;

        .link {
            padding: 2px 0;
            font-size: 14px;
            color: $medium-gray;
            font-weight: 300;

            &:hover {
                border-bottom: 1px solid $medium-gray;
                color: $medium-gray;
            }
        }

        +m(align) {
            align-items: center;
        }

        +m(space) {
            margin: 0 10px;
        }

        +m(link) {
            padding: 2px 0;
            font-size: 14px;
            color: #767676;
            font-weight: 300;
            cursor: pointer;

            &:hover {
                border-bottom: 1px solid #767676;
                color: #767676;
            }
        }
    }
}