@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';
@import "fonts/style.css";

$icon-font-sizes = {
     'default': 18px
}

$icon-colors = {
    'default': $dark-gray,
}

$icon-font-weight = normal

.icon {
    font-family: 'custom icons';
    font-size: $icon-font-sizes.default;
    //color: $icon-colors.default;
    font-weight: $icon-font-weight;

    +m(google) {

        &:after {
            content: "\ea88";
        }
    }

    +m(fb) {

        &:after {
            content: "\ea90";
        }
    }

    +m(twit) {

        &:after {
            content: "\ea96";
        }
    }


    +m(user) {

        &:after {
            content: "\e971";
        }
    }

    +m(massage) {

        &:after {
            content: "\e945";
        }
    }

    +m(heart) {

        &:after {
            content: "\e9da";
        }
    }

    +m(announcements) {

        &:after {
            content: "\e907";
        }
    }

    +m(phone) {

        &:after {
            content: "\e942";
        }
    }

    +m(tv) {

        &:after {
            content: "\e910";
        }
    }

    +m(wifi) {

        &:after {
            content: "\e914";
        }
    }

    +m(plus) {

        &:after {
            content: "\ea0a";
        }
    }

    +m(chevron-right) {

        &:after {
            content: "\e916";
        }
    }

    +m(chevron-left) {

        &:after {
            content: "\e917";
        }
    }

    +m(chevron-down) {

        &:after {
            content: "\e902";
        }
    }

    +m(grid) {

        &:after {
            content: "\e904";
        }
    }

    +m(list) {

        &:after {
            content: "\e903";
        }
    }

    +m(shampoo) {

        &:after {
            content: "\e90a";
        }
    }

    +m(towel) {

        &:after {
            content: "\e90d";
        }
    }

    +m(conditioner) {

        &:after {
            content: "\e908";
        }
    }

    +m(washing-machine) {

        &:after {
            content: "\e909";
        }
    }

    +m(balcony) {

        &:after {
            content: "\e90b";
        }
    }

    +m(iron) {

        &:after {
            content: "\e90c";
        }
    }

    +m(refrigerator) {

        &:after {
            content: "\e90f";
        }
    }

    +m(animals) {

        &:after {
            content: "\e911";
        }
    }

    +m(smoking) {

        &:after {
            content: "\e912";
        }
    }

    +m(hairdryer) {

        &:after {
            content: "\e913";
        }
    }

    +m(kitchen-stuff) {

        &:after {
            content: "\e915";
        }
    }
}
