@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgba(204, 204, 204, 0.75);

    +e(container) {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    +e(controls) {
        display: flex;
    }

    +e(nav) {
        .link {
            padding: 4px 0;
            color: $white;

            &:hover, &.active {
                border-bottom 4px solid $white;
                color: $white;
            }
        }
    }
}