@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.edit-announcement-form {
    width: 100%;

    +e(location) {
        margin: 10px 0 20px;
    }

    +e(input-group) {
        margin: 10px 0 20px;
    }

    +e(input-number-group) {
        display: inline-block;
        margin: 10px 10px 20px 0;
    }

    +e(textarea-group) {
        margin: 10px 0 20px;
    }

    +e(toggle-group) {
        margin: 10px 0 20px;
    }

    +e(multi-select) {
        width: 100%;
        margin: 10px 0 20px;
    }
}