@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.review-form {
    text-align: right;

    +e(title) {
        margin: 0;
        min-width: 110px;
        margin-right: 25px;
    }

    +e(btn) {
        margin-top: 15px;
    }

    +m(flex) {
        display: flex;
    }
}