@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.user-info {
    display: flex;

    +e(data) {
        padding-left: 31px;

        +m(name) {
            margin: 0;
            font-weight: bold;
            font-size: $font-sizes.medium;
            padding: 13px 0 2px;
        }

        +m(contact) {
            margin: 0;
            font-size: 14px;
            padding: 0;
        }
    }

    +e(contacts) {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    +e(button) {
        padding: 11px 10px;
        text-align: left;
        display: flex;

        +m(phone) {
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
        }

        +m(email) {
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
        }

        +m(message) {
            display: block;
            margin: auto;
            font-size: $font-sizes.medium;
        }

    }

    +e(icon) {

        +m(color) {
            color: $blue;
        }
    }

    +e(phones-list) {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        font-size: $font-sizes.medium;
    }
}