@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.detail {
    padding-top: 10px;

    +e(title) {
        margin: 0 0 40px;
    }

    +e(icon) {
        font-size: 20px;
        font-weight: bold;
        margin-right: 5px;
    }

    +e(container) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    +e(view) {
        min-width: 160px;
        margin-bottom: 25px;

        +m(label) {
            font-size: $font-sizes.medium;
        }

        +m(text) {
            text-decoration: line-through;
        }
    }
}