@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.location-form-group {
    position: relative;
    padding-bottom: 0;

    +e(autocomplete-container) {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: $white;
        border: 1px solid $medium-gray;
        z-index: 9999;
    }

    +e(autocomplete-item) {
        background-color: $white;
        padding: 11px 8px;
        color: $dark-gray;
        cursor: pointer;

        +m('active') {
            background-color: $gray;
        }
    }

    +e('marker') {
        width 30px
        height 30px
        border-radius 50% 50% 50% 0
        background $blue
        position absolute
        transform rotate(-45deg)
        left 5px
        top -11px
        margin -20px 0 0 -20px

        &:after {
            content ''
            width 14px
            height 14px
            margin 8px 0 0 8px
            background $white
            position absolute
            border-radius 50%
        }
    }
}