@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.search-form {
    padding: 15px 15px 10px;
    background-color: rgba(204, 204, 204, 0.75);

    .location-form-group__input {
        width: 440px;
    }

    +m(main) {
        display: flex;
        justify-content: space-around;
    }

    +e(button) {
        height: 46px;
        align-self: flex-end;
    }

    +e(item) {

        &-label {
            display: block;
            text-align: center;
            margin-bottom: 5px;
            line-height: $line-height;

            +m(checkbox) {
                margin-bottom: 0;
            }
        }

        +m(price) {
            width: 440px;
            margin-right: 28px;
        }

        +m(price-wrapper) {
            width: 440px;
            height: 46px;
            border: solid 1px $gray;
            background-color: $white;
            padding: 0 25px;
        }

        +m(photos) {
            height: 46px;
            background-color: $white;
            border: solid 1px $gray;
            margin-top: 21px;
            display: flex;
            padding: 11px 8px;
        }

        .select-default {
            height: 46px;
            width: 470px;
        }
        .select-default .Select-control {
            height: 46px;
            width: 470px;
            border: solid 1px $gray;
        }
        .Select--multi .Select-value {
            margin-top: 9px;
        }
        .Select-menu-outer {
            position: relative;
            top: 0;
        }
        .Select-multi-value-wrapper {
            padding-bottom: 9px;
        }
    }

    +m(additional) {
        display: none;
        margin: 15px;
        padding-bottom: 90px;

        .input-range {
            margin-top: 17px;

            +e(track) {
                background-color: $gray;

                &--active {
                    background-color: $blue;
                }
            }

            +e(label--min) {
                .input-range__label-container {
                    top: initial;
                    bottom: 11px;
                    left: -49%;
                }
            }

            +e(label--max) {
                .input-range__label-container {
                    top: initial;
                    bottom: 11px;
                    left: 46%;
                }
            }

            +e(label-container) {
                top: 5px;
            }
        }
    }

    +e(btn-secondary) {
        font-size: $font-sizes.small;
        padding: 3px 10px;

        &.btn_accent {
            height: 33px;
        }
    }

    +e(more-label) {
        text-align: right;
        padding: 16px 15px 0;

        a {
            cursor: pointer;
            margin-left: 3px;
        }
    }

    +e(icon-plus) {
        color: $blue;
        font-size: $font-sizes.medium;
        cursor: pointer;
    }

    +m(hide) {
        display: flex;
    }
}