@import '~kit/stylus/config.styl';
@import '~kit/stylus/mixins.styl';

.intro {
    display: flex;
    align-items: flex-end;
    padding-bottom: 70px;
    min-height: 700px;
    background: url("intro-bg.jpg") no-repeat center center;
    background-size: cover;
}